<h1>Update/Delete Products</h1>
<div class="center">
    <table id="products">
        <tr>
            <th>S/N</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        <tr *ngFor="let product of products">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            <td><button  (click)="setProductEdit(product)">Update</button></td>
            <td><button (click)="removeProduct(product)">Delete</button></td>
        </tr>
        </table>
            <label for="productID">ID: <input type="num" name="productID" [(ngModel)]="product.id"/></label>
            <label for="productName">Full Name:<input type="text" name="productName" [(ngModel)]="product.name"/></label>
            <label for="productDescription">Description:<input type="text" name="productDescription" [(ngModel)]="product.description"/></label>
            <label for="price">Price: <input type="number" name="price" [(ngModel)]="product.price"></label>
            <button style="width: 50%;"  [hidden]="edit" (click)="updateProduct()">Update Product</button>
       
</div>
