<form [formGroup]="profileForm">
<h1>Create New Product</h1>
<div class="center">
    <label for="productID">ID:</label>
    <input type="num" name="productID" formControlName="id" [(ngModel)]="product.id"><br>
    <label for="productName">Full Name:</label>
    <input type="text" name="productName" formControlName="name" [(ngModel)]="product.name"><br>
    <label for="productDescription">Description</label>
    <input type="text" name="productDescription" formControlName="description" [(ngModel)]="product.description"><br>
    <label for="price">Price </label>
    <input type="number" name="price" formControlName="price" [(ngModel)]="product.price"><br>
</div>
</form>
<p>Complete the form to enable submit button.</p> 
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()"></form>
<button routerLink="/products" type="submit" [disabled]="!profileForm.valid" (click)="addProduct()">Submit</button>
